* {
    /*margin: 0;*/
    margin-bottom: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #eee;
    color: #222;
    text-align: center;
    height: 100vh;
}
p {
    margin-bottom: 0!important;
}
label {
    margin-bottom: 0!important;
    padding: 0;
}

.container-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));
    grid-gap: 32px;
    grid-auto-flow: dense;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: bisque;
    width: 450px;
    min-height: 450px;
    padding: 20px;
    border-radius: 20px;
}
.input-text, .textarea-text {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 5px 5px 5px 10px;
    font-size: 18px;
}

.input-text:focus, .textarea-text:focus {
    outline: none;
}

.textarea-text {
    height: 100px;
}

.title-input {
    font-size: 17px;
    text-transform: lowercase;
    color: #222222;
    margin-bottom: 20px!important;
}
.radio {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.checkbox-buy  {
    margin-bottom: 10px;
}
.radio > input, .checkbox > input {
    margin-right: 10px;
}

.btn-send {
    border: 2px solid #1a237e;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
    color: #1a237e;
    border-radius: 10px;
    padding: 5px 0;
}

.name-error {
    color: indianred;
    margin: 5px 0!important;
}

.email-error {
    text-align: center;
    color: red;
    height: 30px;
    animation: ease .6s movedown;
    margin-bottom: 0!important;
}

@keyframes movedown {
    from { height: 0; }
    to { height: 30px; }
}

.password-error {
    color: darkblue;
    font-size: 16px;
    text-align: right;
}

.about-error {
    border: 2px solid red;
    padding: 10px;
    background-color: whitesmoke;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-data > p {
    background-color: white;
    border-radius: 10px;
    padding: 5px 5px 5px 10px;
    margin-bottom: 10px!important;
}

.form-data > p > span {
    font-size: 20px;
    margin-left: 8px;
    font-weight: 600;
}

.btn-send[disabled] {
    background-color: darkgray;
    border: 2px solid darkgray;
    color: white;
    cursor: not-allowed;
}
