.tabs {
    max-width: 100%;
    height: auto;
}
.btn-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4a148c;
    width: 100%;
    color: white;
    padding: 10px 15px 10px 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: start;
    font-size: 22px;
}
.btn-auto-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4a148c;
    width: 100%;
    color: white;
    padding: 10px 15px 10px 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: start;
    font-size: 22px;
}
.btn-active {
    background-color: #448aff;
}

.span-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
}
.tab-main {
    background-color: #1a237e ;
    color: white;
    margin-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    height: 0;
}
.tab-main > h5 {
    padding: 25px 20px;
    font-weight: 400;
    line-height: 20px;
}

.tab-deactive {
    height: 0;
    animation: moveUp 1s;
}

@keyframes moveUp {

    from {
        height: 150px;
    }
    to {
        height: 0;
    }
}


.tab-active {
    height: 150px;
    overflow: visible;
    animation: movedown 1s;
}

@keyframes movedown {
    from {
        height: 0;
    }
    to {
        height: 150px;
    }
}

.toggle-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.toggle-tab > button {
    background: #1a237e;
    border-radius: 20px;
    color: white;
    font-weight: 500;
    padding: 10px 15px
}
